<form method="post" action="{{ path('activitecellule_depense_delete', {'depense': depense.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');" style="display: inline;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ depense.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer </button>
</form>
