h1,
h2,
h3,
h4,
h5,
h6 {
    color: #039c4f;
}

a {
    color: #444;
}

a:hover {
    color: #444;
    text-decoration: none;
    /*    text-shadow: 0 0 1px #036f38;*/
}

td a.btn {
    text-transform: none;
}

a.btn:hover {
    text-decoration: none;
    text-shadow: none;
}

td a {
    color: #444;
}

td a:hover {
    color: #036f38;
    text-decoration: none;
    text-shadow: 0 0 1px #036f38;
}

th,
td {
    vertical-align: middle !important;
}

tr {
    cursor: default;
}

.fond-5 {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9) !important;
    display: block;
    margin: 0 auto;
}

.fond-7 {
    background-color: rgba(255, 255, 255, 0.7) !important;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9) !important;
    display: block;
    margin: 0 auto;
}

.topbar select {
    background: #c5fbae;
    border: 1px solid #c5fbae;
    color: #039c4f;
    width: 90px;
}

.navmenu {
    background-color: #039c4f;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 50px;
    z-index: 1030;
}

.sidenav {
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 1031;
}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    white-space: nowrap;
}

.sidenav ul li:hover,
.sidenav ul li:active,
.sidenav ul li:focus,
.sidenav a:hover,
.sidenav a:active,
.sidenav a:focus {
    color: #039c4f !important;
    background: #c5fbae;
    white-space: nowrap;
}

.navbtn {
    color: #039c4f;
    cursor: pointer;
    visibility: hidden;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 1033;
}

.closebtn {
    cursor: pointer;
    visibility: hidden;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1032;
}

.closebtn:hover {
    border-radius: 10px;
    color: #039c4f;
    background-color: #c5fbae;
}

.overlay {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    top: 0;
    left: 230px;
    height: 0;
    width: calc(100% - 230px);
    opacity: 0.9;
    z-index: 1000;
    /*    background: #000;*/
}

.topbar {
    height: 30px;
    position: fixed;
    top: 0;
    left: 45px;
    width: 100%;
    z-index: 999;
    background-color: #c5fbae;
    color: #039c4f;
    font-size: 16px;
    padding-top: 2px;
}

.topbar a {
    color: #039c4f;
}

.topbar a:hover {
    color: #036f38;
    text-decoration: none;
    text-shadow: 0 0 1px #036f38;
}

.copyright {
    background-color: rgba(255, 255, 255, 0.85);
    bottom: 0;
    color: #039c4f;
    display: block;
    font-weight: bold;
    left: 0;
    vertical-align: middle;
    overflow-x: hidden;
    padding: 5px 2px;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    /*    z-index: 1031;*/
}

.version {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: bold;
    /*    position: absolute;*/
    visibility: hidden;
    z-index: 1033;
}

.navbar-nav {
    /*    margin-left: 10px;*/
}

.navbar-nav .nav-link {
    padding-left: 10px !important;
}

.navbar-nav .dropdown-menu {
    margin-left: auto;
    margin-top: auto;
}

.navbar-nav .dropdown-menu li:hover {
    background: #c5fbae;
    color: #039c4f !important;
}

.navbar-nav .dropdown-menu a {
    font-size: 17px;
}

.navbar-nav .dropdown-menu {
    background: #039c4f;
    padding-bottom: 0;
    padding-top: 0;
}

.dropdown-menu .dropdown-item {
    border-bottom: 1px solid #fff;
}

.dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
}

.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
    {
    background: #c5fbae;
    color: #039c4f !important;
}

.dropdown-menu li:hover {
    color: #039c4f;
}

.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus {
    background: #c5fbae;
    color: #039c4f !important;
}

.submenu {
    position: relative;
}

.submenu > .dropdown-submenu {
    background: #039c4f;
    top: 0;
    display: none;
    left: 100%;
    margin-top: auto;
    margin-left: 1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    position: absolute;
    padding-left: initial;
}

.submenu:hover > .dropdown-submenu {
    display: block;
}

.submenu > a::after {
    display: block;
    content: "";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: inherit;
    margin-top: 5px;
    margin-right: -5px;
}

.submenu > .dropdown-submenu[title="Finance"] {
    bottom: 0;
    top: auto;
}

.input-group,
.form-control {
    border-radius: 10px;
    border: 1px solid #039c4f;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
    border: 1px solid transparent !important;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
    border: 1px solid transparent !important;
}

.input-group-text {
    border-radius: 9px;
}

.form-control:focus,
select:focus {
    border: 1px solid #039c4f;
    box-shadow: 0 0 10px rgba(3, 156, 79, 0.9);
}

.card {
    border-radius: 10px !important;
    background-color: transparent;
}

.card-header {
    border-radius: 9px 9px 0 0 !important;
}

.card-footer {
    border-radius: 0 0 9px 9px !important;
}

.rounded-circle {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    display: block;
    margin: 20px auto;
    width: 100%;
}

td .rounded-circle {
    margin: 0 auto;
    width: 75px;
}

/*tr[data-label="couple"] {
    border-left: none !important;
    border-right: none !important;
}*/

td[data-label="couple"] {
    border: none;
    background: transparent !important;
}

td[data-label="colspan"] {
    text-align: center;
}

.form-group select {
    border: 1px solid #039c4f;
    border-radius: 10px;
}

.dropright.active > a,
.active a:active {
    background: #c5fbae;
    color: #039c4f;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #039c4f;
    border-color: #039c4f;
    cursor: default;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #039c4f;
    border-color: #fff;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 20px;
    text-decoration: none;
    color: #039c4f;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.OK {
    background: #c5fbae !important;
    color: #039c4f;
    font-weight: bold;
    text-align: center;
}

.KO {
    background: #ee8b9b !important;
    color: #600;
    font-weight: bold;
    text-align: right;
}

.btn-group {
    border-radius: 5px;
}

.btn-haut {
    margin-right: -10px !important;
    margin-top: -3px !important;
    margin-bottom: -5px;
}

.btn-photo {
    display: block;
    margin: 0 auto;
}

.btn-td {
    display: block;
    margin: 0 auto;
}

.btn-td-versement {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.centrer {
    display: table;
    margin: 0 auto;
}

.reduction-menu {
    transform: translate3d(0px, 35px, 0px) !important;
}

.phone,
.passeport,
.gs {
    text-align: center;
    white-space: nowrap;
}

.montant {
    text-align: right;
    white-space: nowrap !important;
}

.trait {
    border-top: 1px dotted #000;
}

.powered {
    visibility: hidden;
}

.titre {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.coupon {
    font-size: 20px;
}

.input-group-text {
    color: #039c4f;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 2px solid #039c4f;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #039c4f;
    background: #c5fbae;
    border-color: #039c4f #039c4f transparent #039c4f;
    border-width: 2px;
    font-weight: bold;
}

.nav-tabs .nav-link:hover {
    border-color: #039c4f #039c4f transparent #039c4f;
}

.nav-tabs .nav-link:focus {
    border-color: #039c4f #039c4f transparent #039c4f;
    border-width: 2px;
    border-bottom: none !important;
}

.nav-tabs .nav-item {
    margin-bottom: -2px;
}

.align-center,
.checkbox-center {
    display: flex;
    margin: 0 auto;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #039c4f;
    border-color: #039c4f;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    color: #039c4f;
}

.page-item .page-link {
    border-color: #039c4f;
}

.page-item .page-link:hover {
    border-color: #039c4f;
}

.page-item.disabled .page-link {
    border-color: #039c4f;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 55%;
}

#advertiser {
    display: none;
}


@media screen and (max-width: 767px) {

    .navmenu {
        width: 0;
    }

    .navbtn {
        position: fixed;
        visibility: visible;
    }

    .topbar {
        left: 0;
        height: auto;
    }

    .dropright > .dropdown-menu {
        position: relative;
    }

    .submenu > .dropdown-submenu {
        position: relative;
        padding-left: 0;
        left: 13%;
    }

    .submenu:hover {
        background: none;
    }

    .rounded-circle,
    td .rounded-circle {
        margin: 20px auto;
        width: 80%;
    }

    .btn {
        font-size: 12px;
    }

    .btn-bas {
        width: 100%;
    }

    .btn-normal {
        width: 139px;
    }

    .btn-td-versement {
        width: 120px;
    }

    .btn-td,
    .btn-td-versement {
        margin-right: 0;
    }

    table,
    thead,
    tbody,
    tr,
    th,
    td {
        display: block;
    }

    .table-bordered {
        border: none;
    }

    .table-hover > tbody > tr:hover {
        background-color: none !important;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 1.3rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }

    tr[data-label="couple"] {
        /*border-left: none !important;
        border-right: none !important;*/
        box-shadow: none;
    }

    .femme,
    .tuteur {
        margin-bottom: 0;
        box-shadow: none;
    }

    tr[data-label="billingless"] {
        box-shadow: none;
    }

    tr[data-label="billingless"] > td {
        border: none;
        font-weight: normal;
    }

    td {
        padding: 10px 15px 10px 40% !important;
        position: relative;
        margin: -1px 0;
        border: 1px solid #039c4f;
        text-align: right !important;
        min-height: 50px;
        display: grid;
        align-items: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    td::before {
        padding: 0 10px;
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 40%;
        display: grid;
        align-items: center;
        text-align: right;
        font-weight: bold;
        border-right: 1px solid #039c4f;
        text-transform: none;
        white-space: normal;
        line-height: 20px;

    }

    td[data-label="couple"] {
        border: none;
        background: transparent;
    }

    td[data-label="couple"],
    td[data-label="Photo"],
    td[data-label="colspan"] {
        padding: 10px !important;
        font-weight: bold;
        text-align: center !important;
        box-sizing: border-box !important;
    }

    td[data-label="couple"]::before,
    td[data-label="Photo"]::before,
    td[data-label="colspan"]::before {
        display: none;
    }

    .phone,
    .passeport,
    .gs {
        text-align: right;
        white-space: nowrap;
    }

    .w-10,
    .w-15,
    .w-20,
    .w-25,
    .w-30,
    .w-35,
    .w-40,
    .w-45,
    .w-50,
    .w-55,
    .w-60,
    .w-65,
    .w-70,
    .w-75,
    .w-80,
    .w-85,
    .w-90,
    .w-95 {
        width: 100%;
    }

    .align-center {
        margin-right: 0;
    }

    .l-5 {
        padding-left: 5px !important;
    }

}

@media print {
    .fondvertclaire{
        background: #ddd !important;
    }
    .moy{
        background: #d8d5d5 !important;
    }

    #entrees {
        page-break-after: always;
    }

    body {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        /*margin: 10px 10px 0 10px !important;*/
    }

    .navmenu,
    .topbar {
        display: none;
    }

    .table-bordered {
        border: 1px solid #444 !important;
    }

    .shadow-black,
    .fond-5,
    .fond-7 {
        box-shadow: none !important;
    }

    .border-imp {
        border: 1px solid #000 !important;
    }

    .trait {
        border-top: 1px dotted #000;
    }

    .powered {
        visibility: visible;
        font-size: 10px;
    }

    .montant {
        text-align: right;
        white-space: nowrap !important;
    }

    .sf-toolbarreset {
        display: none !important;
    }

    th,
    td {
        border: 1px solid #444 !important;
    }

    tr[data-label="couple"],
    td[data-label="couple"] {
        border-left: 1px solid #fff !important;
        border-right: 1px solid #fff !important;
        background: transparent !important;
    }
  
    .table-bordered tr td{
        border: 1px solid #444 !important;
        margin: 0 !important;
        padding: 0 !important;
    text-align: center;
    }
    .table-bordered tr th{
        border: 1px solid #444 !important;
    margin: 0 !important;
        padding: 0 !important;
    text-align: center;
    }
}
