{% extends 'website.html.twig' %}

{% block presentation %}class="active"{% endblock %}

{% block body %}
<div class="bodywrap">
<div class="heading" style="background:url(../images/images/heading.png) no-repeat">
   <h1> &nbsp;</h1>
</div>

<!-- about section starts  -->

<section class="home-about">

    <img src="{{ asset('images/images/logo.JPG')}}" alt="" width="250">
       <div class="content">
          <h3>Touba Assistance Medicale</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita et, recusandae nobis fugit modi quibusdam ea assumenda, nulla quisquam repellat rem aliquid sequi maxime sapiente autem ipsum? Nobis, provident voluptate?</p>
          
       </div>
       
       <div class="presentation">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita et, recusandae nobis fugit modi
             quibusdam ea assumenda, nulla quisquam repellat rem aliquid sequi maxime sapiente autem ipsum? Nobis,
              provident voluptate?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita et, recusandae nobis fugit modi
              quibusdam ea assumenda, nulla quisquam repellat rem aliquid sequi maxime sapiente autem ipsum? Nobis,
               provident voluptate?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita et, recusandae nobis fugit modi
               quibusdam ea assumenda, nulla quisquam repellat rem aliquid sequi maxime sapiente autem ipsum? Nobis,
                provident voluptate?</p>
        
     </div>
</section>



<!-- reviews section ends -->

</div>








{% endblock %}