{% extends 'layout3.html.twig' %}

{% block title %}Nouvelle Entree{% endblock %}
{% block autre %} class="active" {% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 text-right mt-3">  
          <a  class="btn btn-primary" href="{{ path('autreentree_index') }}">Retour</a>
</div>
</div>
<div class="row">
    

</div>
    <div class="col-lg-12">
        <div class="col-lg-6 offset-lg-3 mt-5 mb-5 pb-1 fond-inner">
            <h4 class="mt-4 mb-5 text-bold">
                {{ 'Modification entree'|trans }} 
            </h4>

    {{ include('autreentree/_form.html.twig') }}

</div>
</div>
</div>
{% endblock %}