{% extends 'base.html.twig' %}
{% block title %} {{ 'Mon profile'|trans }} {% endblock %}
{% block body %}

<div class="row">
  <div class="col-3 mt-3">
    <button class="btn btn-primary" style="width: 100%;">Assemblee Generale</button>
    <button class="btn btn-success mt-3" style="width: 100%;">Conseille d'Administration</button>
    <button class="btn btn-success mt-3" style="width: 100%;">Bureau Executif National</button>
    <button class="btn btn-success mt-3" style="width: 100%;">Zones de Coordination</button>
    <button class="btn btn-success mt-3" style="width: 100%;">Cellules </button>
    <button class="btn btn-success mt-3" style="width: 100%;">Liste d'attente</button>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-12 mt-3">
    Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. 
    Veniam sint duis incididunt do esse magna mollit excepteur laborum qui.
    Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. 
    Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur.
     Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.
     </div>
     </div>
  </div>
</div>
{% endblock%}