
<div class="col-lg-12 mt-3 mb-3 pt-3 pb-2  fond">
    <div class="row">
        <div class="centrer">
            <div class="col-12">
                
                <a href="" class="btn btn-normal btn-outline-primary mb-2 mr-2 l-5">
                    
                        {{ 'GMT'|trans }}
                </a>
                
                <a href="" class="btn btn-outline-warning mb-2 mr-2 l-5">
                    
                    {{ 'Campagne Xelkoom'|trans }}
                </a>
                <a href="" class="btn btn-outline-success mb-2 mr-2">
                   
                    {{ 'Campagne Sociale'|trans }}
                </a>

                <a href="" class="btn btn-outline-secondary mb-2 mr-2">
                    
                    {{ 'Autres Activites'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>
