<div class="col-lg-12 mt-3 mb-3 pt-3 pb-2  fond">
    <div class="row">
        <div class="centrer">
            <div class="col-12">

                <a  href="#" class="btn btn-normal btn-success mb-2 mr-2 l-5">
                    <i class="fa fa-money"></i>
                    <i class="fa fa-long-arrow-right"></i>
                    <i class="fa fa-suitcase"></i>
                {{ 'Cotisations'|trans }}
                </a>
                
            </div>
        </div>
    </div>
</div>
